<template>
    <select name="" id="">
        <option v-for="service in services" value="">{{service.name}}</option>
    </select>
     
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
